include README.md
include CONTRIBUTING.md
include RELEASING.md
include LICENSE
include rowlint/default_config.yaml
include rowlint/py.typed
recursive-include tests *.py *.yaml
recursive-include scripts *.py
